<div class="layout-page">
	<section class="main-content">
		<div class="container">
			<div class="row">
				<div class="col-xs-16 col-sm-16 col-md-16 col-lg-16">

					<ul id="hotels-listing" class="list-unstyled clearfix">
						<li data-ng-repeat="(hotelKey, hotel) in viewModel.listHotels">
							<article id="hotel-item-{{hotel.id}}">

								<figure class="hotel-image">

									<!--  UI Image directive -->
									<div data-ui-image data-index="1" data-dimensions="150" id="{{hotel.id}}"></div>
									<!-- /UI Image directive -->

									<div class="hotel-image-count">
										<span class="hotel-image-count-value" data-ng-bind="hotel.photoCount"></span>
									</div>
								</figure>

								<div class="hotel-content">
									<div class="hotel-content-header">
										<div style=" display: table-cell;">
											<div class="hotel-content-header-title">
												<a href="#" class="hotel-content-header-title-link" title="Цены на {{hotel.name}}" target="_blank" data-ng-bind="hotel.name"></a>
											
												<!--  UI StarRating directive -->
												<span data-ui-star-rating data-score="hotel.stars" data-max="5"></span>
												<!-- /UI StarRating directive -->

											</div>
										</div>

										<div class="hotel-content-additional pull-right">
											<a data-ng-click="onShowDetails(hotelKey)" class="btn btn-rounded readmore">Подробнее</a>
											<a href="{{hotel.fullUrl}}" class="btn btn-rounded" target="_blank">Забронировать</a>
										</div>

									</div>
								</div>
							</article>
						</li>
					</ul>

					<div data-ng-show="viewModel.listHotels.length===0">
						<h3><strong data-translate="NO_HOTELS_FOUND"></strong></h3>
						<h4 style="font-size: 75%;">Try some other dates</h4>
					</div>

				</div>
			</div>
		</div>
	</section>

	<aside class="map-side"></aside>
	<div data-include-replace data-ng-include="'Application/Pages/Hotels/Views/DetailTmpl.html'"></div>
</div>