<div data-ng-controller="Hotels.SearchFormCtrl">
	<form name="searchForm" novalidate data-ng-submit="events.executeQuery(searchForm)" role="form">
		<fieldset style="float: none; width: auto;">

			<div class="form-group col-xs-12 col-sm-12 col-md-3 col-lg-3">
				<label for="cityName">Введите название города или отеля</label>
				<div class="input-group">
					<input type="text" name="cityName" id="cityName" class="form-control" role="textbox">
				</div>
			</div>

			<div class="form-group col-xs-12 col-sm-12 col-md-3 col-lg-3">
				<label for="checkIn">Дата заезда</label>
				<div class="input-group">
					<input type="text" name="checkIn" id="checkIn" class="form-control" placeholder="Когда вылет?">
				</div>
			</div>

			<div class="form-group col-xs-12 col-sm-12 col-md-3 col-lg-3">
				<label for="checkOut">Дата выезда</label>
				<div class="input-group">
					<input type="text" name="checkOut" id="checkOut" class="form-control" placeholder="Когда обратно?">
				</div>
			</div>

			<div class="form-group col-xs-12 col-sm-12 col-md-3 col-lg-3">
				<label>Размещение</label>
				<input type="text" class="form-control" placeholder="2 взрослых">
			</div>

		</fieldset>

		<input type="submit" id="submit" data-ng-disabled="searchForm.$invalid" value="Найти отели" class="btn pull-right" />
	</form>
</div>