<header class="site-header" role="banner">
	<div class="site-header-container container">
		<nav class="site-navbar" role="navigation">
			<ul class="list-unstyled">
				<li data-ng-class="menuClass('flights')">
					<a href="#/flights" data-translate="FLIGHTS"></a>
				</li>
				<li data-ng-class="menuClass('hotels')">
					<a href="#/hotels" data-translate="HOTELS"></a>
				</li>
			</ul>
		</nav>
	</div>
</header>