*.suo
*.csproj.user

packages/*

[Oo]bj/
[Bb]in/

App_Data/
App_ConfigSources/

/TestResults

/Reservas/Application/*.js
/Reservas/Application/*.js.map
/Reservas/Application/*/*.js
/Reservas/Application/*/*.js.map
/Reservas/Application/Pages/*/*.js
/Reservas/Application/Pages/*/*.js.map
/Reservas/Application/Pages/*/*/*.js
/Reservas/Application/Pages/*/*/*.js.map

/Reservas/Application/UI/*/*.js
/Reservas/Application/UI/*/*.js.map
