@import "../variables.scss";

footer[role="contentinfo"].site-footer {
	background-color: $box-background-color;
	padding-top: 1em;
	padding-bottom: 1.5em;

	&:hover {
		
	}

	.language-switcher {
		a.dropdown-toggle {
			color: #fff;

			span.current {
				border-bottom: 1px dashed #008baf;
				display: inline-block;
				margin-left: 5px;
			}
		}
		
		ul.dropdown-menu {
			display: none;
		}
	}
	
	.copyright {
		color: $text-color-reversed;
		font-size: 12px;
		text-align: right;
	}
}