.ui-tabs {

	ul.ui-tabs-nav[role='tablist'] {
		li[role='tab'] {
			float: left;

			a.ui-tab-anchor[role='presentation'] {
				padding: 5px 20px;
				display: block;
			}

			&.ui-tab-active {
				background-color: #fff;
			}
		}
	}

	.ui-tabs-content {
		div[role=tabpanel] {
			display: none;

			&.active {
				display: block;
			}
		}
	}

}