/* ==========================================================
## IMPORTS
============================================================= */

@import "~/Assets/Styles/reset.scss";
@import "~/Assets/Styles/variables.scss";
@import "~/Assets/Styles/grid.scss";
@import "~/Assets/Styles/mixin.scss";

@import "~/Assets/Styles/UI/forms.scss";
@import "~/Assets/Styles/UI/dropdown.scss";
@import "~/Assets/Styles/UI/tabs.scss";
@import "~/Assets/Styles/UI/radio-btn.scss";

@import "~/Assets/Styles/header.scss";
@import "~/Assets/Styles/footer.scss";

@import "~/Assets/Styles/Components/search-form.scss";
@import "~/Assets/Styles/Components/tickets-offers.scss";
@import "~/Assets/Styles/Components/hotels.scss";

/* ==========================================================
## MAIN
============================================================= */

body {
	color: $text-color;
	font-family: $font-family-base;
	font-size: $font-size-base;
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
	line-height: 20px;
	-webkit-font-smoothing: antialiased;

	/// background-4572
	background: $body-bg url('data:image/svg+xml;utf8,\
		<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="4px" height="4px" viewBox="100.4 -200.4 100 100" enable-background="new 0 0 100 100" xml:space="preserve">\
			<g>\
				<line fill="none" stroke="#{desaturate(darken($body-bg, 3), 15)}" stroke-width="10" stroke-miterlimit="10" x1="100.4" y1="-200.4" x2="200.4" y2="-100.4"/>\
				<line fill="none" stroke="#{desaturate(darken($body-bg, 3), 15)}" stroke-width="10" stroke-miterlimit="10" x1="200.4" y1="-200.4" x2="100.4" y2="-100.4"/>\
			</g>\
		</svg>') !important;

	height: 100%;
	min-height: 100%;
	position: relative;
}

.page-root {
	margin-top: -32px;
}

$background-1321: #96C19A;
$background-1321-size: 64px;
#content-block-background-1321 {
	//background-1321
	background: #86B695 url('data:image/svg+xml;utf8,\
		<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="#{$background-1321-size}" height="#{$background-1321-size}" viewBox="17.5 -117.5 100 100" enable-background="new 0 0 100 100" xml:space="preserve">\
			<g>\
				<path fill="#{$background-1321}" d="M110-17.5C110-7.8,102.2,0,92.5,0S75-7.8,75-17.5S82.8-35,92.5-35S110-27.2,110-17.5z" />\
				<path fill="#{$background-1321}" d="M60-17.5C60-7.8,52.2,0,42.5,0S25-7.8,25-17.5S32.8-35,42.5-35S60-27.2,60-17.5z" />\
				<path fill="#{$background-1321}" d="M135-67.5c0,9.7-7.8,17.5-17.5,17.5S100-57.8,100-67.5S107.8-85,117.5-85S135-77.2,135-67.5z" />\
				<path fill="#{$background-1321}" d="M85-67.5C85-57.8,77.2-50,67.5-50S50-57.8,50-67.5S57.8-85,67.5-85S85-77.2,85-67.5z" />\
				<path fill="#{$background-1321}" d="M35-67.5C35-57.8,27.2-50,17.5-50S0-57.8,0-67.5S7.8-85,17.5-85S35-77.2,35-67.5z" />\
				<path fill="#{$background-1321}" d="M110-117.5c0,9.7-7.8,17.5-17.5,17.5S75-107.8,75-117.5S82.8-135,92.5-135S110-127.2,110-117.5z" />\
				<path fill="#{$background-1321}" d="M60-117.5c0,9.7-7.8,17.5-17.5,17.5S25-107.8,25-117.5S32.8-135,42.5-135S60-127.2,60-117.5z" />\
			</g>\
		</svg>') !important;
	padding: 60px 0 30px;
}

::-webkit-scrollbar-thumb {
	background-color: $box-background-color !important;
}

h1.title {
	font-size: 1.8rem;
	font-weight: 100;
	line-height: 2.25rem;
	text-align: center;
	text-shadow: 0 0 1.25em rgba(0, 0, 0, .25), 0 -.1ex 0 rgba(255, 255, 255, .125), 0 .1ex 0 rgba(0, 0, 0, .25);
	margin: 0;
	margin-bottom: 2rem;
	position: relative;

	span {
		position: absolute;
		top: 0;
		z-index: 2;
		color: #ff7149;
		-webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0)));

		&::selection  {
			color: inherit;
			background: inherit;
		}
	}

	&::after {
		content: attr(title);
		color: #a62103;
	}
}