@import "../variables.scss";
@import "../mixin.scss";
@import "../Mixins/text.scss";

.ticket-special-offer {
	color: #5D9598;
	text-align: center;
	position: relative;
	background-color: #F2ECCC;
	border: 4px double #f8f5e7;
	@include box-shadow(4px 4px 0 rgba(0, 0, 0, .05));
	padding: 20px;
	margin-bottom: 10px;
	@include transition(all .25s linear);

	box-shadow: 0 0 6px rgba(0, 0, 0, .1) inset, 0 0 0 5px rgba(0, 0, 0, .02);
	margin: 10px 5px;

	&:hover {
		border-color: #5E4236;
	}

	&:before {
		content: '';
		position: absolute;
		width: 50%;
		height: 100%;
		background-color: rgba(0, 0, 0, .02);
		top: 0;
		right: 0;
	}

	.ticket-special-offer-airline {
		position: relative;

		.ticket-special-offer-airline-label {
			color: #F2ECCC;
			font-weight: 300;
			font-size: 10px;
			text-transform: uppercase;
			margin: 0;
			position: absolute;
			right: 5px;
			bottom: -5px;
			z-index: 1;
		}

		.ticket-special-offer-airline-name {
			font-size: 14px;
			line-height: 21px;
			text-transform: uppercase;
			letter-spacing: -1px;
			border-top: 1px solid #5D9598;
			border-bottom: 8px solid #5D9598;
			margin: 0;
			margin-top: 2px;
			padding: 1px 0 2px;
			@include text-ellip();
			display: block !important;
		}
	}

	.from, .to {
		color: #F89D8B;//#FF7149;
		font-size: 24px;
		font-weight: 700;
		text-transform: uppercase;
		text-shadow: 1px 1px 0 #F2ECCC, 2px 2px 0 #796C63;//#5E4236;
		letter-spacing: -1px;
		margin: 0;
	}

	.mid {
		color: #5E4236;
		font-size: 10px;
		font-weight: 300;
		font-style: italic;
		margin: 0;
	}

	.airline-price {
		color: #fff;
		font-size: 21px;
		font-weight: 700;
		background-color: #796C63;//#F89D8B;//#FF7149;
		margin: 5px -20px;
		padding: 5px;

		.rub {
			display: inline-block;
			font-family: Arial, sans-serif;
			position: relative;

			&:before {
				content: '';
				height: 5%;
				width: 80%;
				background-color: #fff;
				position: absolute;
				top: 60%;
				left: 0;
			}
		}
	}
}