<section id="content-block-background-1321" class="content-block-background parallax-fixed">
	<div class="container">
		<div class="row">
			<div class="col-xs-16 col-sm-16 col-md-16 col-lg-10">
				<div class="search-form__wrapper">

					<!--  UI Tabs directive -->
					<div data-ui-tabs class="ui-tabs">
						<!--  UI Tab directive -->
						<div data-ui-tab id="tab1" data-title="{{ 'FLIGHTS' | translate }}">

							<div data-ng-include="'Application/Pages/Flights/Views/SearchFormTmpl.html'" data-include-replace></div>

						</div>
						<!-- /UI Tab directive -->

						<!--  UI Tab directive -->
						<div data-ui-tab id="tab2" data-title="{{ 'HOTELS' | translate }}">

							<div data-ng-include="'Application/Pages/Hotels/Views/SearchFormTmpl.html'" data-include-replace></div>

						</div>
						<!-- /UI Tab directive -->
					</div>
					<!-- /UI Tabs directive -->

				</div>
			</div>
		</div>
	</div>
</section>

<section id="content-block-background-1532" class="content-block-background parallax-none">
	<div class="container"></div>
</section>

<section class="special-offers-section">
	<div class="container">

		<div data-ng-controller="SpecialOffersCtrl" class="row">
			<h1 class="title" title="{{ 'SPECIAL_OFFERS_TITLE' | translate }}">
				<span data-translate="SPECIAL_OFFERS_TITLE"></span>
			</h1>

			<div data-ng-repeat="offer in offers" class="col-xs-16 col-sm-8 col-md-8 col-lg-4">
				<div class="ticket-special-offer">
					<div class="ticket-special-offer-airline">
						<h5 class="ticket-special-offer-airline-label">Авиакомпания</h5>
						<h3 class="ticket-special-offer-airline-name" data-ng-bind="offer.airline"></h3>
					</div>

					<div style="margin-top: 10px;">
						<h3 class="from" data-ng-bind="offer.route.from_name"></h3>
						<h5 class="mid"><span>туда и обратно</span></h5>
						<h3 class="to" data-ng-bind="offer.route.to_name"></h3>
					</div>

					<div class="airline-price">
						<div data-ng-bind="offer.route.onewayPrice"></div>
						<div data-ng-bind="offer.route.roundtripPrice"></div>
						<span class="rub">Р</span>
					</div>

				</div>
			</div>
		</div>

	</div>
</section>